.app_container{
    background-color: rgba(0, 255, 255, 0);
}
.mb_1{
    color: rgb(255, 32, 32);
}
.table_container{
    background-color: rgba(0, 0, 0, 0);
}
.table{
    background-color: rgba(67, 245, 23, 0);
}
