.container-father{
    height: 100vh;
    display: flex;
    background-color: rgb(253, 253, 253);
    align-items: center;
}
.login-container{
    width: 50%;
    height: 60%;
    display: flexbox;
    background-color: #ffffff00;
    padding-right: 0%;
    margin-top: 0%;
}
.Container-Image{
    width: 100%;
    height: 50%;
}
.signInButton {
    background-color: #87AD8F;
    border-radius: 3.25rem;
    border-color: #ffffff;
    padding: 12px; 
    font-weight: 500;
    color: rgb(255, 255, 255);
    width: 50%;
    margin-left: 20%;
}
.forgot-password ,
.forgot-password a {
    text-align: left;
    font-size: 14px;
    color: rgb(155, 155, 155);
    background-color: rgba(255, 81, 116, 0);
}
.label-error{
    margin-left: 4%;
    color: rgb(167, 92, 92);
    font-size: 12px;
}
.label-alert{
    margin-left: 4%;
    color: rgb(167, 92, 92);
    font-size: 14px;
}
.image-login{
    width: 100%;
    height: 100%;
}
.input-container-login{
    background-color: #ff585800;
    width: 100%;
    margin-top: 10px;
    margin-left: 0%;
    margin-top: 3%;
}
.forgot-container{
    background-color: rgba(0, 0, 255, 0);
    padding-left: 0%;
}
.sesion-container{
    background-color: rgba(255, 97, 34, 0);
    width: 100%;
}
.ti-container{
    background-color: rgba(94, 255, 134, 0);
    margin-left: 11%;
    width: 42.5%;
    margin-top: 3%;
    padding-left: 17.5%;
    margin-left: 25%;
}
.container-form-login{
    width: 56%;
    height: 60%;
    background-color: #94b64500;
    margin-top: 10px;
    margin-left: 25%;
    margin-top: 5px;
    padding-left: 4%;
    padding-top: 10px;
}
.register-account-container{
    background-color: #46ff1800;
    padding-left: 0%;
}
.register-account{
    background-color: #ff181800;
    padding-left: 0%;
}
@media all and (max-width: 940px) {
    .container-father{
        height: 100vh;
        display: flex;
        background-color: rgb(206, 225, 231);
        align-items: center;
        padding-left: 1%;
    }
    .login-container{
        width: 85%;
        height: 80%;
        padding: 5%;
        display: flexbox;
        justify-content: center;
        background-color: #ffffff;
        margin-left: 4%;
        padding-right: 0;
        margin-top: 0%;
    }
    .Container-Image{
        display: none;
    }
    .signInButton {
        background-color: #87AD8F;
        border-radius: 3.25rem;
        border-color: #ffffff;
        padding: 8px; 
        font-weight: 500;
        color: rgb(255, 255, 255);
        width: 90%;
        margin-left: 3%;
    }
    .forgot-password ,
    .forgot-password a {
        text-align: left;
        font-size: 14px;
        color: rgb(155, 155, 155);
        background-color: rgba(211, 68, 97, 0);
    }
    .label-error{
        margin-left: 4%;
        color: rgb(167, 92, 92);
        font-size: 12px;
    }
    .label-alert{
        margin-left: 4%;
        color: rgb(167, 92, 92);
        font-size: 14px;
    }
    .image-login{
        padding: auto;
        width: 100%;
        height: 100%;
    }
    .input-container-login{
        background-color: #92424900;
        padding-right: 20px;
        margin-top: 10px;
        margin-left: 2%;
    }
    .forgot-container{
        background-color: rgba(0, 0, 255, 0);
        padding-left: 3%;
    }
    .sesion-container{
        background-color: rgba(165, 42, 42, 0);
        width: 100%;
    }
    .ti-container{
        background-color: rgba(50, 179, 27, 0);
        margin-left: 11%;
        width: 80%;
        margin-top: 0%;
        padding-left: 0%;
        margin-left: 20%;
    }
    .container-form-login{
        width: 85%;
        height: 90%;
        background-color: #9cc24400;
        margin-top: 10px;
        margin-left: 5%;
        margin-top: 5px;
        padding-left: 0%;
        padding-top: 10px;
    }
    .register-account-container{
        background-color: #c2444400;
        padding-left: 3%;
    }
}
