.style{
    border-radius: 0.5rem !important;
    border-color: #afafaf;
    text-align: left;
    width: 93%;
    padding: 10px;
    box-shadow: none;
    border: 1px solid #ccc;
}
@media all and (min-width: 940px) {
    .style{
        border-radius: 0.3rem !important;
        border-color: #afafaf;
        text-align: left;
        width:90%;
        padding: 13px;
        box-shadow: none;
        border: 1px solid #ccc;
    }
}