.Container-father-register{
    height: 100vh;
    display: flex;
    background-color: rgba(146, 192, 132, 0);
    align-items: center;
    
}
.Container-Image{
    width: 50%;
    height: 100vmin;
    background-color: rgba(255, 151, 14, 0);
}
.image-register{
    width: 100%;
    height: 100%;
}
.register-container{
    padding-top: 10%;
    height: 79.3%;
    width: 50%;
    display: flexbox;
    background-color: #ca616100;
}
.sign-up-register{
    background-color: #69474700;
    border-radius: 0.5rem;
    width: 60%;
    align-items: center;
    margin-left: 20%
}
.container-form{
    width: 80%;
    height: 80%;
    background-color: #23fa6300;
    margin-top: 10px;
    margin-left: 15%;
}
.input-container{
    background-color: #db363600;
    display: flexbox;
    width: 98%;
    height: 13%;
    padding-bottom: 15px;
    margin-top: 1px;
}
@media all and (max-width: 940px) {
    .Container-father-register{
            height: 100vh;
            display: flex;
            background-color: rgb(255, 255, 255);
            align-items: center;
            padding-left: 15%;
    }
    .sign-up-register{
        background-color: #ffffff;
        width: 100%;
        margin-left: 0;
    }
    .Container-Image{
        display: none;
    }
    .register-container{
        width: 80%;
        height: 80%;
        display: flexbox;
        justify-content: center;
        background-color: #e9e3e3;
        padding: 4%;
    }
    .input-container{
        background-color: #ffffff00;
        display: flexbox;
        width: 96%;
        height: 15%;
        margin-top: 10px;
        padding-bottom: 1px;
    }
    .container-form{
        width: 100%;
        height: 90%;
        background-color: #e3ffa300;
        margin-left: 0;
    }
    
}