.Container-father-register{
    height: 100vh;
    display: flex;
    background-color: rgba(233, 233, 233, 0.383);
    align-items: center;
}
.Container-Image{
    width: 50%;
    height: 100vmin;
    background-color: rgba(255, 151, 14, 0);
}
.image-register{
    width: 100%;
    height: 100%;
}
.register-container{
    margin-left: 5%;
    margin-top: 10px;
    width: 40%;
    display: flexbox;
    background-color: #9dda0f00;
    padding-top: 10px;
}
.sign-up-register{
    background-color: #ff191900;
    border-radius: 0.5rem;
    width: 20%;
    margin-left: 37%;

}
.container-form{
    width: 50%;
    height: 50%;
    background-color: #06ff4d00;
    margin-top: 10px;
    margin-left: 25%;
}
.input-box{
    width: 100%;
    background-color: #f2ff4000;
    margin-top: 5px;
}
.input-container{
    background-color: #994a4a00;
    display: flexbox;
    width: 95%;
    margin-top: 10px;

}
.button-container{
    background-color: #e2191900;
    width: 100%;
    margin-top: 10px;
}
.register-botton{
    border-radius: 3.25rem;
    width: 70%;
    padding: 10px;
    background-color: #87AD8F;
    font-weight: 500 !important;
    color: rgb(255, 255, 255);
    border-color: #ffffff;
    margin-left: 12%;
}
.already-register{
    margin-top: 15px;
    background-color: #ffffff00;
}
@media all and (max-width: 940px) {
    .Container-father-register{
            height: 100vh;
            display: flex;
            background-color: rgb(206, 225, 231);
            align-items: center;
            padding-left: 1%;
    }
    .sign-up-register{
        background-color: #ffffff00;
        width: 100%;
        margin-left: 0;
    }
    .Container-Image{
        display: none;
    }
    .register-container{
        width: 80%;
        height: 80%;
        display: flexbox;
        justify-content: center;
        background-color: #ffffff;
        padding: 4%;
    }
    .input-container{
        background-color: #7469d600;
        display: flexbox;
        width: 98%;
        height: 13%;
        padding-bottom: 15px;
        padding-left: 0%;
        margin-top: 1px;
        
    }
    .container-form{
        width: 85%;
        height: 90%;
        background-color: #9cc24400;
        margin-top: 10px;
        margin-left: 7%;
        margin-top: 0;
        padding-left: 0%;
    }
    .button-container{
        background-color: #15da9f00;
        width: 95%;
        margin-top: 10px;
        padding-top: 10px;
    }
    .register-botton{
        border-radius: 3.25rem;
        width: 100%;
        padding: 5px;
        background-color: #87AD8F;
        font-weight: 500 !important;
        color: rgb(255, 255, 255);
        border-color: #ffffff;
        margin-left: 0;
    }
    .input-box{
        width: 100%;
        background-color: #f1fa7900;
        padding-bottom: 5px;
    }
    .already-register{
        margin-top: 15px;
        background-color: #fa79fa00;
    }
    
}