/*MAIN QUIZ*/
#quizRoot{
    background: #ffffff;
  }
  
  .Main-quiz {
    width: 100%;
    height: 900px;
  }
  /*Navbar*/
  .menu{
    background-color: rgb(255, 255, 255);
    width: 5%;/*ancho*/
    height: 100%;/*Altura*/
  }
  /*Perfil*/
  .perfil-container{
    padding-top: 2%;
    padding-left: 2%;
    padding-right: 2%;
    width: 20%;/*ancho*/
    height: 100%;/*Altura*/
    display: flexbox;
    align-items: center;
    text-align:center;
  }
  .quiz-logo{
    display: flex;
    justify-content: flex-start;
  }
  .div-container{
    flex-direction: column;
    background-color: rgba(34, 25, 66, 0);
    padding-top: 5%;
    padding-right: 3%;
  }
  .div1{
    margin-bottom: 10%;
    width: 38px; 
    height: 15%;
    border-radius: 10rem !important;
    background-color: #87AD8F;
  }
  .div2{
    margin-bottom:10%;
    width: 22px; 
    height: 15%;
    border-radius: 10rem !important;
    background-color: #87AD8F;
  }
  .text-logo{
    margin-top: 3%;
  }
  /*Imagen perfil*/
  .perfil-ima{
    flex-direction: column;
    background-color: #ffffff;
    border-radius: .5rem;
    padding: 5%;
    align-items: center;
    width: 100%; 
    height: 12%;
  }
  .container-p{
    width: 100%; 
    height: 100%;
    display: flex;
    padding:5%;
    align-items: center;
    background-color: #ff000000;
  }
  .photo-image{
    width: 100%;
    height:100%;
    border-radius: 10rem !important;
    background-color: #83bdae;
  }
  .perfil-photo{
    width: 55%; 
    height: 50px;
    border-radius:100000000px !important;
    margin-right: 10%;
    background-color: rgba(253, 0, 0, 0);
  }
  .perfil-name{
    width: 110%; 
    height: 110%;
    display: table-column;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }
  .text-photo{
    width: 100%; 
    height: 100%;
    font-size: 100%;
    background-color: rgba(0, 255, 34, 0);
  }
  .tx-div{
    padding-right: 30%;
  }
  .text-range{
    width: 70%; 
    height: 100%;
    font-style: normal;
    font-size: 80%;
    color: rgb(153, 153, 153);
    background-color: rgba(253, 0, 0, 0);
  }
  /*Encuesta **********************/
  .main-quiz {
    width: 100%;/*ancho */
    height: 100%;/*Altura*/
    display: flex;
    justify-content:space-between;
    background-color: rgb(212, 212, 212);
  }
  .quiz {
    margin-top:5%;
    margin-right: 1%;
    padding:2%;
    /*transform: tran6late(64%, 10%);*/
    border-radius: 20px;
    width: 55%; 
    height: 50%;
    display:flexbox;
    background-color: rgb(255, 255, 255);
    align-items: center;
  }
  .question{
    background-color: rgba(250, 231, 191, 0);
  }
  /*Titulo*/
  .text-quiz{
    font-family: serif;
    font-style: italic;
    /*Centran a la mitad*/ 
    margin:auto;
    /*Tamaño y color del div*/
    width: 100%;
    height: 40px;
    background-color: rgba(255, 0, 0, 0);
    font-size: 25px;
    
  }
  .bg-container{
    width: 100%;
    height: 100%;
    background-color: rgba(211, 203, 134, 0);
    padding: 1%;
    text-align: center;
    display: flexbox;
  }
  .questions-container{
    padding-top: 1%;
    padding-left: 5%;
    width: 100%;
    height: 90%;
    background-color: rgba(208, 255, 0, 0);
    display: flexbox;
    
  }
  .bg-question{
    width: 100%;
    height: 100%;
    background-color: rgba(221, 221, 221, 0.932);
    border-radius: 1rem;
  }
  .bigfive-question{
    width: 80%;
    height: 20%;
    margin-left: 8%;
    background-color: rgba(148, 168, 139, 0);
    display: flexbox;
  }
  .separator-question{
    margin-top: 1%;
    margin-bottom: 2%;
    margin-left: 8%;
    width: 80%;
    height: 1%;
    background-color: rgb(185, 183, 183);
  }
  .identify-buttoms{
    width: 80%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
  }
  /*Seccion de votar */
  .vote-bf{
    background-color: #eaff0000;
    width: 100%;
    height:65%;
    display: flex;
  }
  .opinion-positive{
    margin-left:1%;
    background-color: #7328ff00;
    font-size: 15px;
  }
  .opinion-negative{
    margin-left:5%;
    background-color: #7328ff00;
    font-size: 15px;
  }
  /*Contenedor de los botones de votacion*/
  .container-botton{
    margin-top: 4%;
    margin-bottom: 3%;;
    margin-left: 5%;
    display:flex;
    width: 50%;
    height: 1%;
    align-items: center;
    justify-content:space-between;
    background-color: #a01a1a00;
  }
  .vote1{
    border-radius: 5rem !important;
    border-color:#267017 !important;
    padding:14px 14px 14px 14px !important;
    margin-bottom:1%;
    border-width: 3.5px;
    border-style: solid;
  }
  .vote2{
    border-radius: 5rem !important;
    border-color: #698164 !important;
    padding:11px 11px 11px 11px !important;
    margin-bottom:2%;
    border-width: 3.5px;
    border-style: solid;
  }
  .vote3{
    border-radius: 1rem !important;
    border-color: #8d8d8d !important;
    padding:7px 7px 7px 7px !important;
    margin-bottom:2%;
    border-width: 3.5px;
    border-style: solid;
  }
  .vote4{
    border-radius: 5rem !important;
    border-color: #816464!important;
    padding:11px 11px 11px 11px !important;
    margin-bottom:2%;
    border-width: 3.5px;
    border-style: solid;
  }
  .vote5{
    border-radius: 5rem !important;
    border-color: #701717 !important;
    padding:14px 14px 14px 14px !important;
    margin-bottom:2%;
    border-width: 3.5px;
    border-style: solid;
  }
  
  .container-vote{
    margin-left: 6%;
    width: 86%;/*ancho*/
    height: 100%;/*Altura*/
    background-color: rgb(212, 212, 212);
    display: flex;
    justify-content:space-between;
    padding:2%;
    padding-top:3%;
    border-radius: 1rem;
  }
  /*****************************/
  