/*Encuesta **********************/
.main-quiz {
  position: absolute;
  width: 1920px;/*ancho */
  height: 879px;/*Altura*/
  top: 6%;
  right: 0%;
  background-color: rgb(212, 212, 212);
}
.quiz {
  padding-top: 60px;
  padding-left: 20px;
  transform: translate(64%, 10%);
  border-radius: 20px;
  right: 0;
  width: 1100px; 
  height: 700px;
  display:flexbox;
  background-color: rgb(255, 255, 255);
}
/*Titulo*/
.text-quiz{
  font-family: serif;
  font-style: italic;
  /*Centran a la mitad*/ 
  margin:auto;
  /*Tamaño y color del div*/
  width: 500px;
  height: 40px;
  background-color: rgba(167, 111, 111, 0);
}
/*Contenedor de las imagenes*/
.image{
  padding-top: 110px;
  padding-left:5%;
  padding-right:5%;
  width: 1060px; 
  height: 460px;
  display:flexbox;
  justify-content:space-between;
}
.containerIma{
  width: auto; 
  height: auto;
  display:flex;
  justify-content:space-between;
  background-color: rgba(61, 63, 29, 0);
}
.image1{
  width: 380px; 
  max-width: 380;
  height: 260px;
  max-height: 260px;
  background-color: rgba(136, 118, 240, 0);
}
.image2{
  width: 380px; 
  height: 260px;
  background-color: rgba(23, 110, 42, 0);
}
.photo{
  width: 380px;;
  height:260px;
 }
 /*Cambiar imagenes, texto y boton*/
.ima-change{
  display:flex;
  justify-content:space-between;
  background-color: rgba(177, 54, 140, 0);
}
.change-one{
  padding-top: 10px;
  width: 380px; 
  height: 40px;
  display:flex;
  background-color: rgba(73, 189, 204, 0);
  align-items: center;
}
.change-two{
  padding-top: 10px;
  margin-left: 0px;
  width: 380px; 
  height: 40px;
  display:flex;
  align-items: center;
  background-color: rgba(204, 64, 64, 0);
}
.text-change{
  font-style: normal;
  font-size: 16px;
  color: rgb(153, 153, 153);
  text-align:center;
  margin-right:4%;
  margin-left: 0%;
}
.text-change-two{
  font-style: normal;
  font-size: 16px;
  color: rgb(153, 153, 153);
  text-align:center;
  margin-right:4%;
  margin-left: 42%;
}
.changeButton {
  background-color: #87AD8F !important;
  border-radius: 3.25rem !important;
  border-color: #ffffff00 !important;
  font-weight: 500 !important;
  padding: 1px 10px 1px 10px !important;
  margin-bottom:2%; 
}
/*Seccion de votar */
.vote{
  background-color: #aaad8700;
  display:flex;
  justify-content:space-between;
  width: 1060px;
  height: 60px;
  align-items: center;
}
.first-opinion{
  margin-left:5%;
}
.second-opinion{
  margin-right:5%;

}
/*Contenedor de los botones de votacion*/
.container-botton{
  margin-top: 4%;
  margin-bottom: 3%;;
  display:flex;
  width: 300px;
  height: 60px;
  align-items: center;
  justify-content:space-between;
  background-color: #1aa03b00;
}
.vote1-botton{
  border-radius: 5rem !important;
  border-color: #c1ffae !important;
  padding:18px 18px 18px 18px !important;
  margin-bottom:2%;
  border-width: 2px;
  border-style: solid;
}
.vote2-botton{
  border-radius: 5rem !important;
  border-color: #d1ffc3 !important;
  padding:15px 15px 15px 15px !important;
  margin-bottom:2%;
  border-width: 2px;
  border-style: solid;
}
.vote3-botton{
  border-radius: 1rem !important;
  border-color: #bbbbbb91 !important;
  padding:11px 11px 11px 11px !important;
  margin-bottom:2%;
  border-width: 2px;
  border-style: solid;
}
.vote4-botton{
  border-radius: 5rem !important;
  border-color: #ff9393 !important;
  padding:15px 15px 15px 15px !important;
  margin-bottom:2%;
  border-width: 2px;
  border-style: solid;
}
.vote5-botton{
  border-radius: 5rem !important;
  border-color: #ff6e6e !important;
  padding:18px 18px 18px 18px !important;
  margin-bottom:2%;
  border-width: 2px;
  border-style: solid;
}

/*****************************/