.right-arrow{
    background-color: #87AD8F !important;
    border-radius: .5rem !important;
    border-color: #ffffff !important;
    padding: 3% !important; 
    width: 90%; 
    height: 100%;
    font-weight: 500 !important;
    margin-left: 3%;
    margin-top: 2%;
    margin-bottom: 2%;
}